<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="oracleDB" connectionString="USER ID=APOLONIAPP; PASSWORD=chachesoflo;DATA SOURCE=oraclegcp.bellann.cl;PERSIST SECURITY INFO=True"
         providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
</configuration>